<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.derek.task.mapper.TaskMapper">

    <select id="selectAll" resultType="com.derek.task.response.TaskResponse">
        SELECT t.id,
               t.task_name AS taskName,
               t.status,
               t.due_date AS dueDate,
               u.name AS userName
        FROM task t
        LEFT JOIN user u ON t.user_id = u.id
    </select>

    <insert id="insert" parameterType="com.derek.task.entity.Task" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task (task_name, status, due_date, user_id)
        VALUES (#{taskName}, #{status}, #{dueDate}, #{userId});
    </insert>

    <update id="update" parameterType="com.derek.task.entity.Task">
        UPDATE task
        SET task_name = #{taskName},
            status = #{status},
            due_date = #{dueDate},
            user_id = #{userId}
        WHERE id = #{id};
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM task
        WHERE id = #{id};
    </delete>

    <select id="selectByUserId" resultType="com.derek.task.response.TaskResponse">
        SELECT t.id,
               t.task_name AS taskName,
               t.status,
               t.due_date AS dueDate,
               u.name AS userName
        FROM task t
        LEFT JOIN user u ON t.user_id = u.id
        WHERE t.user_id = #{userId}
    </select>

</mapper>
